
#app {
  height: 90vh;
  color: skyblue;
}

.day {
  background-color: white;
}

.night {
  background-color: black;
  color: white;
}

#swap {
  outline: 0;
}

.button_day {
  /* background-color: blue; */
  /* color: white; */
}

.button_night {
  /* background-color: darkblue; */
  /* color: white; */
}
